# Compiled Object files
*.o
*.obj
*.bat

# Compiled Dynamic libraries
*.dll

# Executables
*.exe
*.out

# Paths
Build/
.vscode

Lab1.doc
Lab2.doc
Lab3.doc
Lab4.doc
Lab5.doc

### SonarQube ###
# SonarQube ignore files.
#
# https://docs.sonarqube.org/display/SCAN/Analyzing+with+SonarQube+Scanner
# Sonar Scanner working directories
.sonar/
.scannerwork/
bw-output

# http://www.sonarlint.org/commandline/
# SonarLint working directories, configuration files (including credentials)
.sonarlint/

launhSolarTest.bat