# Compiled Object files
*.o
*.obj
*.bat

# Compiled Dynamic libraries
*.dll

# Paths
Build/
.vscode
sonar-project.properties

Lab1.rtf
Lab2.rtf
Lab3.rtf
Lab4.rtf
Lab5.rtf

### SonarQube ###
# SonarQube ignore files.
#
# https://docs.sonarqube.org/display/SCAN/Analyzing+with+SonarQube+Scanner
# Sonar Scanner working directories
.sonar/
.scannerwork/
bw-output

# http://www.sonarlint.org/commandline/
# SonarLint working directories, configuration files (including credentials)
.sonarlint/

launhSolarTest.bat